@import url('modern-normalize.css');

:root {
  line-height: 1.5;
  box-sizing: border-box;
}

html {
  font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* END TEMPLATE */

:root {
    --color-one: #36244f;
    --color-two: #3a579a;
    --color-three: #ff2fa9;
    --color-four: #ff8172;
    --color-five: #faba61;
    --color-six: #fffc40;
}

#page {
    display: grid;
    background-color: black;
    grid-template-areas: "header" "display" "status" "footer";
    grid-template-rows: .5fr 3fr .3fr .2fr;
    color: white;
    text-align: center;
    border: var(--color-two);
    height: 100vh;
}

#header {
    grid-area: header;
    text-align: center;
    padding-top: 25px;
}

#display {
    grid-area: display;
    color: white;
}

#gameboard {
    display: grid;
    grid-template-rows: repeat(3, minmax(100px, 1fr));
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    background-color: black;
    width: 75%;
    height: clamp(40%, 350px, 75%);
    margin: auto;
}

/* These are the game squares*/
#gameboard .cell {
    border: 2px solid var(--color-two);
    font-size: clamp(2rem, 50px, 4rem);
    box-shadow: 0 0 0 2px var(--color-two);
    cursor: pointer;
}
/* These are the game squares */

.player1-marker {
  color: var(--color-six);
}

.player2-marker {
  color: var(--color-three);
}

#status {
    grid-area: status;
    font-size: 1.3rem;
    color: var(--color-four);
}

#status button{
    font-size: .8rem;

}

#footer {
    grid-area: footer;
    font-size: .5rem;
    color: var(--color-six);
    text-align: right;
}

#footer a{
    color: var(--color-six);
    text-decoration: none;
}

#footer a:visited{
    color: var(--color-six);
}

#footer a:hover{
    font-weight: 600;
}